<!DOCTYPE html>
<html lang="en"> 
<head>
    <title>Sleaford Maltsters Archery Club</title>
    <!-- Meta -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Blog Site Template">
    <meta name="author" content="https://youtube.com/FollowAndrew">    
    <link rel="shortcut icon" href="images/logo.png"> 
    
    <!-- FontAwesome CSS-->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">
	<!-- Bootstrap CSS-->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">  
	<!-- Theme CSS -->
	<link rel="stylesheet" href="css/style.css"> 

</head> 

<body>
    <div id="fb-root"></div>
<script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v23.0"></script>
    <header class="header">
		<div class="header-lg-content gutters">
			<a class="" href="index.html">
				<img class="logo" src="images/logo/logo.png">
			</a>
			<button type="button" class="btn btn-cta d-none d-lg-block">Contact Us</button>
			<button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#navigation" aria-controls="navigation" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
			</button>
		</div>
		<nav class="d-none d-lg-block header-lg-nav text-center">
			<ul>
			<li>
				<a href="/" class="active">
				Home
				</a>
			</li>
			<li>
			<a href="/">
				News & Updates
			</a>
			</li>
			<li>
			<a href="/">
				Club Records
			</a>
			</li>
			<li>
			<a href="/">
				Rules, Regulations & Policies
			</a>
			</li>
			<li>
			<a href="/">
				Gallery
			</a>
			</li>
			<li>
			<a href="/">
				Merchandise
			</a>
			</li>
			<li>
			<a href="/">
				FAQs
			</a>
			</li>
				</ul>
		</nav>
	    <nav class="navbar navbar-dark d-lg-none" >
			<div id="navigation" class="collapse navbar-collapse flex-column d-lg-none gutters" >
				<ul class="navbar-nav flex-column text-center header-sm-nav">
					<li>
				<a href="/" class="active">
				Home
				</a>
			</li>
			<li>
			<a href="/">
				News & Updates
			</a>
			</li>
			<li>
			<a href="/">
				Club Records
			</a>
			</li>
			<li>
			<a href="/">
				Rules, Regulations & Policies
			</a>
			</li>
			<li>
			<a href="/">
				Gallery
			</a>
			</li>
			<li>
			<a href="/">
				Merchandise
			</a>
			</li>
			<li>
			<a href="/">
				FAQs
			</a>
			</li>
			<li>
				<button type="button" class="btn btn-cta">Contact Us</button>
			</li>
				</ul>
			</div> 
		</nav>
    </header>
    <div class="main-wrapper">
		<div class="hero-wrapper">
			<div class="gradient-wrapper">
			<div class="hero-text gutters">
				<h1 class="text-white text-uppercase">
					<span class="h1-part-1">
						Welcome to
					</span>
					<span class="d-block text-amber-400 mb-5 h1-part-2">
						Sleaford Maltsters <br>Archery Club
					</span>
				</h1>
				<p class="font-italic tagline">Archery…it’s not about being better than everyone else…it’s about being better than you were before.</p>
			</div>
    </div>
		</div>
		<div class="hero-logo-wrapper">

		<img src="images/logo/logo.png" class="hero-logo"/>
		</div>
		
		<section class="row content-gutters">
			  <div class="col-12 col-lg-6">
<h1 class="font-bold uppercase text-lg mb-4">Our Club Nights</h1>
<p class="mb-3">We encourage archers of all abilities to join us on our club nights on Monday and Friday evenings. During the summer months we shoot at <a href="https://www.google.com/maps/dir//Sleaford+Maltsters+Archery+Club+London+Rd+Osbournby+Sleaford+NG34+0DJ/@52.9286391,-0.4071227,19z/data=!4m8!4m7!1m0!1m5!1m1!1s0x48781583d1f15bc7:0x2a9987d87aecdea8!2m2!1d-0.4071227!2d52.9286391?entry=ttu" target="_blank">The Old Football Field, Osbournby</a> and during the winter months we move indoors to <a href="https://www.google.com/maps/dir//Northgate+Sports+Hall,+Mill+Field+Terrace,+Sleaford+NG34+7AD/@52.9707507,-0.5068507,12z/data=!4m9!4m8!1m0!1m5!1m1!1s0x48783fd2a35e5b43:0xcb03af0355a06485!2m2!1d-0.4095233!2d53.0027189!3e0?entry=ttu" target="_blank">Northgate Sports Hall, Sleaford</a>.</p>
<p>You can also find us using 'what3words':</p>
<p class="mb-3"><a href="https://w3w.co/pulses.roadways.hamster" target="_blank">///pulses.roadways.hamster</a> for The Old Football Field, Osbournby.</p>
<p class="mb-3"><a href="https://w3w.co/assorted.stored.tripling" target="_blank">///assorted.stored.tripling</a> for Northgate Sports Hall, Sleaford.</p>
<p class="mb-3">On our website you will find all the information that you need to contact us, express interest in a course or join us for a shoot. There is also information regarding competitions around the region and how to enter. If you need anything that you can't find here, please <a href="mailto:admin@sleafordmaltsters.com" target="_blank" rel="noreferrer noopener">contact our secretary</a> for any further information you need.</p>
<p>If you are a current AGB member and wish to book in to come and join us for an evening, please message us using the Whatsapp or Messenger buttons on the left.</p>
  </div>
  <div class="col-12 col-lg-6 d-flex justify-content-center justify-content-lg-end">
		<div class="fb-page" data-href="https://www.facebook.com/sleafordmaltsters/" data-tabs="timeline" data-width="" data-height="" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"><blockquote cite="https://www.facebook.com/sleafordmaltsters/" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/sleafordmaltsters/">Sleaford Maltsters Archery Club</a></blockquote></div>
  </div>
		</section>

		 <section id="hero" class="content-gutters">
			<div class="row card-row">
				<div class="col col-12 col-lg-4">
					<div class="card">
	  <img class="card-img-top" src="images/bgs/bg.jpg" alt="Card image cap">
	  <div class="card-body">
	   <h5 class="card-title">Beginners Courses</h5>
				<p class="card-text">Add yourself to the waiting list ready for our next beginners course. </p>
				<a href="#" class="btn btn-primary">Sign Up</a>
	  </div>
					</div>
				</div>
				<div class="col col-12 col-lg-4">
					<div class="card">
	  <img class="card-img-top" src="images/bgs/bg.jpg" alt="Card image cap">
	  <div class="card-body">
	   <h5 class="card-title">Taster & Refresher Sessions</h5>
				<p class="card-text">If you'd like to try Archery for one session, or take a refresher session, please book in here.</p>
				<a href="#" class="btn btn-primary">Book Session</a>
	  </div>
					</div>
				</div>
				<div class="col col-12 col-lg-4">
					<div class="card">
	  <img class="card-img-top" src="images/bgs/bg.jpg" alt="Card image cap">
	  <div class="card-body">
	   <h5 class="card-title">Current AGB Members</h5>
				<p class="card-text">Current AGB member? Contact us to join us for an evening.</p>
				<a href="#" class="btn btn-primary">Contact us</a>
	  </div>
					</div>
				</div>
			</div>
		</section>
    </div>
    
    <!-- Bootstrap Javascript -->          
	<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
	<script src="js/main.js"></script>

</body>
</html> 

